Source: cosmic-utils-monorepo
Section: x11
Priority: optional
Maintainer: Ritesh Raj Sarraf <rrs@debian.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/cosmic-utils

Package: cosmic-utils-monorepo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         cosmic-epoch-monorepo (= 1.0.11-1)
Built-Using: cosmic-epoch (= 1.0.11-1)
Description: Unified COSMIC Community Utilities
 This package provides a collection of community-developed utilities 
 and applets for the COSMIC Desktop Environment, including Tweaks, 
 Vigil, Chronos, and others.
 .
 This package is strictly tied to the version of cosmic-epoch-monorepo 
 it was built against.
